.embla {
  overflow: hidden;
  position: relative;
}
.embla__container {
  display: flex;
  width: 100vw;
  height: 100%;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}

.embla__dots {
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.embla__dot {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  opacity: 20%;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s;
}

.embla__dot.is-selected {
  background-color: white;
  opacity: 1;
}

.navigationArrows_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  margin: 3% auto;
}

.navigationArrows_container > button:focus {
  outline: none;
}
