.newsletter_container {
  margin: 2% 5%;

  & > h1:first-child {
    font-size: 6.8rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .newsletter_container {
    & > h1:first-child {
      font-size: 3.6rem;
    }
  }
}
