.memberProfile_container {
  padding: 3% 5%;
}
.memberProfile_container > section:first-of-type {
  margin: 0 auto;
  width: 80vw;
  border-radius: 2.4rem;
  overflow: hidden;
  display: flex;
  height: auto;

  justify-content: center;
  background-color: #e9fcff;
  align-items: center;
}

.memberProfile_article ul li {
  list-style: disc;
  margin: 1.2rem 0;
}
.memberProfile_article h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

.memberProfile_article ul li::marker {
  font-size: 1.8rem;
}

.memberProfile_article ul li h3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
}
.memberProfile_article ul li h4 {
  font-size: 1.4rem;
}
.memberProfile_article ul li em {
  font-size: 1.2rem;
}

.memberProfile_container > section:first-of-type figure {
  max-width: 55rem;
  height: 88vh;
  position: relative;
}

.memberProfile_container > section:first-of-type figure img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.memberProfile_container > section:first-of-type article {
  flex: 1 0;
  padding: 0 6rem;
}

.memberProfile_container > section:first-of-type article div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.memberProfile_container
  > section:first-of-type
  article
  div:first-of-type
  div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.memberProfile_article div:first-of-type div:first-of-type h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.04rem;
}
.memberProfile_article div:first-of-type div:first-of-type h1 + p {
  font-size: 1.8rem;
  line-height: 2.268rem;
}

.memberProfile_article > div:first-of-type {
  color: var(--high-grey);
  margin-bottom: 2.8rem;
}
.memberProfile_article > p {
  font-size: 1.6rem;
}

@media screen and (max-width: 1482px) {
  .memberProfile_container {
    padding: 0;
  }

  .memberProfile_container > section:first-of-type {
    width: 100vw;
    padding: 2% 5%;
    border-radius: 0;
  }
  .memberProfile_container > section:first-of-type article {
    padding-right: 0;
  }
}

@media screen and (max-width: 1250px) {
  .memberProfile_container section article div:first-of-type {
    width: 100%;
    margin: 2% auto;
  }
  .memberProfile_container > section:first-of-type {
    width: 80%;
    flex-direction: column;
    border-radius: 2.4rem;
    align-items: start;
    padding: 5%;
    margin: 5% auto;
  }

  .memberProfile_container > section:first-of-type figure {
    max-width: unset;
    width: 100%;
  }
  .memberProfile_container > section:first-of-type figure img {
    width: 100%;
  }
  .memberProfile_container > section:first-of-type article {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .memberProfile_container > section:first-of-type {
    width: 100%;
    border-radius: 0;
    padding: 10%;
    margin: 0% auto;
  }

  .memberProfile_container > section:first-of-type figure {
    height: auto;
  }
  .memberProfile_container > section:first-of-type figure img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .memberProfile_article div:first-of-type div:first-of-type h1 {
    font-size: 3rem;
  }
  .memberProfile_article div:first-of-type div:first-of-type h1 + p {
    font-size: 1.8rem;
  }
}
