.VisitorCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  place-items: center;
  /* gap: 1rem; */
  cursor: pointer;
}

.VisitorCard {
  width: fit-content;

  & > div {
    gap: 0.2rem;
    & figure {
      max-height: 24rem;
      max-width: 24rem;
      margin-bottom: 1.6rem;
    }
  }
}

.ModalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalImgSlider_container {
  height: 100%;
  max-height: 60vh;
  overflow-y: hidden;
}

.ModalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  padding: 4rem;
  max-height: 90vh;
  height: auto;
  overflow-y: scroll;
  max-width: 60vw;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  & > div:nth-of-type(2) {
    display: flex;
    align-items: center;
    margin: 0.5rem 0 1rem;

    & > h3 {
      font-size: 2rem;
      font-weight: 700;
      margin-right: 1rem;
    }

    & > p {
      font-size: 2rem;
      font-weight: 400;
      color: #202020;
    }
  }
  & > p:last-of-type {
    font-size: 2rem;
    color: #6c6c6c;
  }
}

.CloseButton {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.ModalContent img {
  max-width: 100%;

  height: auto;
  display: block;
  margin-bottom: 16px;
}

.modalImgSlider_container > div {
  position: relative;
  & > div:nth-of-type(2) {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  & > div {
    & > div {
      width: 60vw;
    }
  }
}

@media screen and (max-width: 720px) {
  .modalImgSlider_container > div {
    & > div:nth-of-type(2) {
      display: none;
    }
  }

  .CloseButton {
    top: 0.5rem;
    right: 1rem;
    z-index: 999;
  }

  .ModalContent {
    max-width: 85vw;
    padding: 2rem;

    & > div:nth-of-type(2) {
      & > h3 {
        font-size: 1.4rem;

        margin-right: 1rem;
      }

      & > p {
        font-size: 1.4rem;
      }
    }
    & > p:last-of-type {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 570px) {
  .VisitorCardContainer {
    grid-template-columns: repeat(
      auto-fit,
      minmax(18rem, 1fr) minmax(18rem, 1fr)
    );
  }
  .VisitorCard > div:first-of-type p {
    color: red;
    height: 3.5rem;
  }
}

@media screen and (max-width: 489px) {
  .VisitorCardContainer {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
  .VisitorCard div:first-of-type {
    & > h2 {
      font-size: 1.4rem !important;
    }
    & > p {
      font-size: 1.2rem !important;
    }
  }
}
