.beforeNow_section {
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  height: max-content;
  padding: 5% 3%;
}

.beforeNow_section div {
  position: relative;
  display: flex;
  align-items: center;
}

.beforeNow_section div {
  align-items: start;
}

.beforeNow_section--imageContainer figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 55rem;
  width: 100%;
  height: 100%;
}
.beforeNow_section--imageContainer figure img {
  object-fit: cover;
}

.beforeNow_section--contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  margin-top: 2%;
}

.beforeNow_section--contentContainer h1 {
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--high-grey);
}
.beforeNow_section--contentContainer h4 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 30.24px;
}

.beforeNow_section--contentContainer h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  color: var(--low-grey);
}
.beforeNow_section--contentContainer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.beforeNow_section--contentContainer h3 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 30.24px;
}
.beforeNow_section--contentContainer h3 span {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--primary-accent);
}
.beforeNow_section--contentContainer p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.52rem;
  margin: 1.2rem 1rem 1rem 0;
}
.beforeNow_section--contentContainer p span {
  color: var(--primary-accent);
}

/* ----------------------------------------------------------------------------------------------------- */
.irrigatedLand_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 5% 5%;
  position: relative;
  height: 60rem;
  color: white;
}
.irrigatedLand_section::before {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  content: "";
  background-image: url(../../assets/images/IrrigatedLandBackgroundImage.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.irrigatedLand_section div h1 {
  padding: 0 7vw;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 6.048rem;
  height: max-content;
}
.irrigatedLand_section div p {
  text-align: start;
  padding: 0 7vw;
  font-size: 2.8rem;
  line-height: 3.528rem;
}
.irrigatedLand_section div:nth-of-type(2) button {
  padding: 0.8rem 1rem;
  border-radius: 1.6rem;
  background-color: white;
  color: black;
  max-width: 36rem;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  height: 7.4rem;

  &:hover {
    background-color: var(--primary-accent);
    color: white;
  }
}
.irrigatedLand_section div:nth-of-type(2) {
  display: flex;
  justify-content: center;
}
.irrigatedLand_section h1 span {
  color: var(--primary-accent);
}

.mkpmuVisitor_container {
  margin: 2% 5%;

  & > div:first-of-type {
    position: relative;
    & > h1 {
      font-size: 4.8rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: 2%;
    }
    & > span {
      position: absolute;
      right: 2%;
      font-size: 1.4rem;
      text-decoration: underline;
      top: 50%;
      color: #757575;
      cursor: pointer;
    }
  }
}

/* ----------------------------------------------------------SUCCESS STORY----------------------------------------------------------------------------------- */

.storySection h1 {
  font-size: 4.8rem;
  font-weight: 500;
  text-align: center;
}
.storySection p {
  font-size: 2rem;
  text-align: center;
}

.storyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  overflow-x: auto;
  scrollbar-width: none;
  margin: 3% 5% 5%;
}

.storyCard {
  border-radius: 4rem;
  flex-grow: 1;
  flex-shrink: 0;
  overflow: hidden;
  max-width: 320px;
  max-height: 320px;
  /* width: 100%; */
}
.storyCard div video {
  object-fit: cover;

  /* object-position: ; */
}

.custom-player-wrapper {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.controls {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.play-pause-btn {
  cursor: pointer;
}

/* ---------------------------------------------------------- IRRIGATION PROJECT SECTION----------------------------------------------------------------------------------- */
.irrigationProjectSection {
  display: flex;
  height: 100%;
  margin: 5% 10%;
  border-radius: 4rem;
  overflow: hidden;
}
.irrigationProjectSection figure {
  flex-basis: 55%;
}
.irrigationProjectSection figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.irrigationProjectSection article {
  flex-basis: 45%;
  padding: 5%;
  color: white;
}
.irrigationProjectSection article h1:first-of-type {
  font-size: 4.8rem;
  line-height: 6.048rem;
}
.irrigationProjectSection article > p:first-of-type {
  font-size: 1.6rem;
  line-height: 2.016rem;
  margin: 3% 0;
}
.irrigationProjectSection article div details {
  background-color: bisque;
  padding: 2rem;
}

.accordionContainer div:first-of-type {
  border-radius: 1.6rem;
  /* padding: 0.2rem 1rem; */
  color: white;
}
.accordionContainer {
  margin-bottom: 2%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2.4rem 2rem;
  border-radius: 1.6rem;
  font-size: 2rem;
  font-weight: 700;
}

.learnMoreBtn_container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.learnMoreBtn_container button {
  padding: 0.8rem 2.4rem;
  border-radius: 5.6rem;
  background-color: var(--primary-accent);
  font-size: 1.6rem;
  font-weight: 700;
}

/* ---------------------------------------------------------MAP SECTION-------------------------------------------------------------------------------------------------- */
.mapSectionContainer {
  position: relative;
  margin: 2% auto;
  & > h1 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
    padding-inline: 1rem;
  }
}
.mapSectionContainer article figure {
  display: flex;
  justify-content: center;
  align-items: center;
  & > svg {
    height: 100%;
    padding: 1rem 3rem;
    max-height: 75.5rem;
    max-width: 93.4rem;
    width: 100%;
  }
}

.mapSectionContainer article {
  position: relative;
  & > div:first-of-type {
    position: absolute;
    object-fit: contain;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: -2;
    transform: translate(-50%, -50%);

    & > img {
      margin: 0 auto;
      max-width: 132rem;
      max-height: 80rem;
      width: 100%;
      height: 100%;
    }
  }
}

.mapTooltip {
  position: absolute;
  color: white;
  padding: 1.2rem 1.6rem;
  border-radius: 1.2rem;
  filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.25));
  pointer-events: none;
  font-weight: 500;
  font-size: 1.4rem;
}

.svgPaths path:nth-of-type(1):hover {
  filter: drop-shadow(2px 4px 6px rgba(110, 151, 255, 0.6));
  stroke: rgba(0, 37, 134, 1);
  fill: rgba(168, 192, 254, 1);
}
.svgPaths path:nth-of-type(2):hover {
  filter: drop-shadow(2px 4px 6px rgba(194, 116, 255, 0.6));
  fill: rgba(216, 166, 255, 1);
  stroke: rgba(123, 0, 134, 1);
}

.svgPaths path:nth-of-type(3):hover {
  filter: drop-shadow(2px 4px 6px rgba(129, 255, 225, 0.6));
  stroke: rgba(3, 101, 78, 1);
  fill: rgba(134, 255, 226, 1);
}

.svgPaths path:nth-of-type(4):hover {
  filter: drop-shadow(2px 4px 6px rgba(255, 155, 155, 0.6));
  stroke: rgba(76, 6, 6, 1);
  fill: rgba(255, 190, 190, 1);
}

.svgPaths path:nth-of-type(5):hover {
  filter: drop-shadow(2px 4px 6px rgba(232, 213, 36, 0.6));
  stroke: rgba(85, 78, 5, 1);
  fill: rgba(255, 244, 140, 1);
}

.svgPaths path:nth-of-type(6):hover {
  filter: drop-shadow(2px 4px 6px rgba(147, 255, 229, 0.6));
  stroke: rgba(5, 79, 61, 1);
  fill: rgba(213, 255, 245, 1);
}

.svgPaths path:nth-of-type(8):hover {
  filter: drop-shadow(2px 4px 6px rgba(161, 255, 151, 0.6));
  stroke: rgba(14, 76, 8, 1);
  fill: rgba(218, 255, 214, 1);
}

/* ----------------------------------------------------------------Description Section --------------------------------------------------------------------------------- */
.descriptionSection p {
  font-size: 3.2rem;
  line-height: 4.8rem;
  margin: 5% 15%;
}
.descriptionSection p span {
  font-weight: 700;
  color: var(--primary-accent);
}

/* -----------------------------------------------------Project Highlight Section---------------------------------------------------------------------------------------- */
.projectHighlightSection {
  margin: 5% 8%;
}

.projectHighlightSection > div:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.4rem;
  margin-top: 5rem;
}

.projectHighlightSection div figure img {
  width: max-content;
  height: auto;
}

.projectHighlightSection > div:first-of-type div {
  padding: 4rem 1.2rem;
  border-radius: 2rem;
}
.projectHighlightSection > div:first-of-type div h2 {
  line-height: 5rem;
  font-weight: 700;
  font-size: 4rem;
}
.projectHighlightSection > div:first-of-type div h3 {
  font-size: 2rem;
  font-weight: 500;
}
.projectHighlightSection > h1:first-of-type {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  color: var(--low-grey);
  margin: 1% 2%;
}
/* .projectHighlightSection > p:first-of-type {
  font-size: 4rem;
  line-height: 5rem;
  margin: 0 8%;
  margin-bottom: 2%;
} */

@media screen and (max-width: 1400px) {
  .storyContainer {
    justify-content: start;
  }
}

@media screen and (max-width: 1200px) {
  .irrigatedLand_section div h1 {
    padding: 0 3vw;
  }
  .irrigatedLand_section div p {
    padding: 0 3vw;
  }
}

@media screen and (max-width: 1024px) {
  .irrigatedLand_section h1 {
    font-size: 3.6rem;
    line-height: 4.5rem;
    padding: 0 4vw;
  }
  .irrigatedLand_section p {
    font-size: 2.4rem;
    line-height: 3rem;
    padding: 0 2.5vw;
  }
  .irrigationProjectSection {
    flex-direction: column-reverse;
  }
  .descriptionSection p {
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin: 5% 10%;
  }

  .mapTooltip {
    position: static;
    font-size: 1.2rem;
    left: 0 !important;
    right: 0 !important;
    width: max-content;
    margin: 0 auto;
  }
  .projectHighlightSection h1 {
    font-size: 2.8rem;
    line-height: 4rem;
    margin: 1% 10%;
  }
  /* .projectHighlightSection > p:first-of-type {
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin: 0 10%;
  } */
}
/* ------------------------------------------------------------------------------------------------------------------------------ */
@media screen and (max-width: 768px) {
  .mapSectionContainer {
    & > h1 {
      font-size: 1.8rem;
    }
  }
  .storySection h1 {
    font-size: 3rem;
    margin-top: 3%;
  }
  .storySection p {
    font-size: 1.6rem;
    padding: 0 2%;
    margin-bottom: 5%;
  }
  .descriptionSection p {
    font-size: 2rem;
    line-height: 3rem;
    margin: 5%;
  }
  .projectHighlightSection h1 {
    font-size: 1.8rem;
    line-height: 4rem;
    margin: 1% 5%;
  }

  .irrigatedLand_section {
    grid-template-columns: 1fr;
    align-items: center;
    padding: 5% 5%;
    position: relative;
    height: 60rem;
    color: white;
  }

  .mkpmuVisitor_container {
    margin: 2%;

    & > div:first-of-type {
      & > h1 {
        font-size: 3.2rem;
      }
      & > span {
        font-size: 1.2rem;
      }
    }
  }

  .irrigationProjectSection {
    margin: 5% 0;
    border-radius: 0;
  }

  .irrigationProjectSection article h1:first-of-type {
    font-size: 3.2rem;
    line-height: 1;
  }
  .irrigationProjectSection article > p:first-of-type {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  /* .projectHighlightSection > p:first-of-type {
    font-size: 2rem;
    line-height: 3.2rem;
    margin: 0 5%;
  } */
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
@media screen and (max-width: 425px) {
  .descriptionSection p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .projectHighlightSection h1 {
    font-size: 1.4rem;
  }
  .irrigationProjectSection article h1:first-of-type {
    font-size: 2.8rem;
  }
  .irrigationProjectSection article > p:first-of-type {
    font-size: 1.4rem;
  }
  /* .projectHighlightSection > p:first-of-type {
    font-size: 1.6rem;
    line-height: 2.4rem;
  } */
}
