.mkpmuTeam_container {
  padding: 5rem 3% 0%;
  background-color: rgb(255, 255, 255);
}

.TeamMemberCard_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 42rem));
  padding: 2% 5%;
  place-content: center;
}

.TeamMemberCard_container .TeamMemberCard {
  cursor: pointer;
  height: auto;
  margin: 5% 2%;
  text-align: center;
  border-radius: 1rem;
}
.TeamMemberCard_container .TeamMemberCard div {
  gap: 0;
}

.TeamMemberCard_container .TeamMemberCard strong {
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: 1.6rem;
}
.TeamMemberCard_container .TeamMemberCard p {
  font-size: 1.6rem;
  font-weight: 400;
  min-height: 5.5rem;
}

.TeamMemberCard_container .TeamMemberCard figure {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42rem;
  max-width: 42rem;
  width: 100%;
  border-radius: 1rem;

  overflow: hidden;
}

.mkpmuTeam_container h1 {
  font-size: 4.8rem;
  font-weight: 500;
  width: 50%;

  text-align: center;
  margin: 0 auto;
  line-height: 6.048rem;
}
.mkpmuTeam_container > p:first-of-type {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.TeamMemberCard_container .TeamMemberCard div h2 {
  margin: 1.6rem 0 0.2rem;
}

@media screen and (max-width: 1400px) {
  .mkpmuTeam_container h1 {
    width: 60%;
  }
  .TeamMemberCard_container {
    padding: 2% 0;
  }
}
@media screen and (max-width: 1117px) {
  .mkpmuTeam_container {
    padding: 5% 2%;
  }
}

@media screen and (max-width: 1024px) {
  .mkpmuTeam_container h1 {
    width: 70%;
  }
  .TeamMemberCard_container .TeamMemberCard div h2 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  .mkpmuTeam_container h1 {
    width: 100%;
    font-size: 6vw;
    line-height: 8vw;
    padding: 0 2%;
  }

  .mkpmuTeam_container > p:first-of-type {
    font-size: 3.2vw;
  }
  .TeamMemberCard_container .TeamMemberCard strong {
    font-size: 2rem;
  }
  .TeamMemberCard_container .TeamMemberCard p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 490px) {
  .TeamMemberCard_container {
    grid-template-columns: 1fr 1fr;
  }
  .TeamMemberCard div {
    padding: 0 !important;
    height: 30rem;
  }
}

@media screen and (max-width: 425px) {
  .mkpmuTeam_container > p:first-of-type {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 359px) {
  .TeamMemberCard_container {
    grid-template-columns: 1fr;
  }
  .TeamMemberCard div {
    padding: 0 !important;
    height: 35rem;
  }
}
