.awardsContainer {
  /* margin: 2% 10%; */
}

.awardsContainer > article:first-of-type {
  margin: 5% 10%;
}

.awardsContainer article section {
  margin-bottom: 5%;
}

.awardsContainer article section h2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.awardsContainer article section h3 {
  font-size: 1.8rem;
  font-weight: 400;
}
.awardsContainer article section article div div {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  margin: 2rem 0;
}

.pictureBox strong {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--highest-grey);
}

.pictureBox div figure p {
  font-size: 1.8rem;
  margin: 1.2rem 0;
}
