.formSection {
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.formSection figure {
  margin: 0 auto;
}

.error {
  color: #ff2c2c;
  font-size: 12px !important;
  margin-top: 0 !important;
}

.formSection form h1 {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 6.048rem;
}
.formSection form {
  padding: 1rem 5%;
}

.formSection form p {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.024rem;
  margin: 1.6rem 0;
  width: 65%;
}
.formSection form button {
  padding: 0.8rem 1rem;
  background-color: var(--primary-accent);
  border-radius: 0.8rem;
  width: 100%;
  font-weight: 700;
  font-size: 2rem;
  height: 7.4rem;
  line-height: 2.52rem;
  color: white;
}
.formSection form div div label {
  line-height: 2.24rem;
  margin-bottom: 0.8rem;
}
.formSection form div > div {
  margin: 3.4rem 0;
}
.formSection form div div input {
  padding: 1.2rem 1.6rem;
  border: 1px solid #d9d9d9;
  border-radius: 0.8rem;
  width: 100%;
}

#message {
  padding: 1.2rem;
  border: 1px solid #d9d9d9;
  border-radius: 0.8rem;
  width: 100%;
  max-height: 100%;
  height: 15rem;
  line-height: 2.24rem;
}

.formSection form div div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.grecaptcha-badge {
  bottom: 10px !important; /* Adjust position */
  right: 10px !important; /* Adjust position */
  transform: scale(0.8); /* Scale down if needed */
  opacity: 0.8; /* Slight transparency */
  transition: opacity 0.3s ease-in-out;
}

.grecaptcha-badge:hover {
  opacity: 1; /* Fully visible on hover */
}

@media screen and (max-width: 1400px) {
  .formSection form p {
    /* font-size: 2.4rem;
      font-weight: 400;
      line-height: 3.024rem;
      margin: 1.6rem 0; */
    width: 80%;
  }
  .formSection form div > div {
    margin: 1.4rem 0;
  }
  .formSection form p {
    font-size: 2rem;
  }
  .formSection form h1 {
    font-size: 3.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .formSection {
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
  }
  .formSection figure {
    margin: 0 5%;
  }
}
@media screen and (max-width: 768px) {
  .formSection form p {
    width: 100%;
  }
}
