.gridContentTemplate_container {
  margin: 2% 10%;
}

.gridContentTemplate_container article {
  display: grid;
  justify-content: center;
  gap: 2.4rem;
  row-gap: 4.8rem;
  margin: 3% 0;
}

.gridContentTemplate_container article div h2 {
  font-weight: 500;
}
.gridContentTemplate_container article div p {
  font-weight: 500;
  width: 100%;
  margin-top: -1rem;
}

@media screen and (max-width: 1024px) {
  .gridContentTemplate_container {
    margin: 2% 5%;
  }

  .gridContentTemplate_container article div h2 {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .gridContentTemplate_container article div p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 768px) {
  .gridContentTemplate_container {
    margin: 2% 5%;
  }

  .gridContentTemplate_container article {
    margin: 10% 3%;
  }
}
