.gridContentTemplate_container {
  margin: 2% 10%;
}

.gridContentTemplate_container article {
  display: grid;
  justify-content: center;
  gap: 2.4rem;
  row-gap: 4.8rem;
  margin: 3% 0;
}

.gridContentTemplate_container > article:first-of-type div h2 {
  font-weight: 500;
  min-height: 5.5rem;
  display: flex;
  align-items: start;
}
.gridContentTemplate_container article div p {
  font-weight: 500;
  width: 100%;
  margin-top: -1rem;
}

/* -------------------------------------------------------------------------------------------------------------------------------------- */
.newsletter_section {
  & > div:first-of-type {
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 2.4rem;
      font-weight: 700;
    }
    div {
      display: flex;
      justify-content: end;
      align-items: center;

      span {
        font-size: 1.8rem;
        cursor: pointer;
        margin-right: 0.5rem;

        &:hover {
          color: var(--primary-accent);
        }
      }
    }
  }
}
/* -------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1024px) {
  .gridContentTemplate_container {
    margin: 2% 5%;
  }

  .gridContentTemplate_container article div h2 {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .gridContentTemplate_container article div p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 768px) {
  .gridContentTemplate_container {
    margin: 2% 5%;
  }

  .gridContentTemplate_container article {
    margin: 10% 3%;
  }
}
